{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content | strip_newlines %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tao's Project Page</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="css/w3.css">
	<link rel='stylesheet' href='css/inputfonts_Roboto.css'>
  </head>
  <body class="bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
  <!-- Navbar (sit on top) -->
	<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-left w3-bar-item w3-button"> <img src="images/Logo.png" style="width:15%" alt="Tao's picture"> </a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="index.html" class="w3-bar-item w3-button"><i class="fa fas fa-blog" aria-hidden="true"></i>Blog</a>
      <a href="aboutMe.html" class="w3-bar-item w3-button"><i class="fa fa-user" aria-hidden="true"></i> AboutMe</a>
      <a href="https://taoge64.github.io" class="w3-bar-item w3-button"><i class="fa fa-th"aria-hidden="true"></i> Project</a>
      <a href="photo.html" class="w3-bar-item w3-button"><i class="fa fa-picture-o" aria-hidden="true"></i> Photo</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-weixin" aria-hidden="true"></i> Contact</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#Blog" onclick="w3_close()" class="w3-bar-item w3-button">Blog</a>
  <a href="aboutMe.html" onclick="w3_close()" class="w3-bar-item w3-button">AboutMe</a>
  <a href="https://taoge64.github.io" onclick="w3_close()" class="w3-bar-item w3-button">Project</a>
  <a href="photo.html" onclick="w3_close()" class="w3-bar-item w3-button">Photo</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">Contact</a>
</nav>
